body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.main-header {
    background-color: #1a4325; /* Color verde oscuro */
    color: #fff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo img {
    height: 60px;
    border: 2px solid #ffffff7e;
    border-radius: 50%;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

main {
    padding: 2rem 0;
    width: 80%;
    margin: auto;
}

.galeria-proyectos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.proyecto {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.proyecto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.proyecto a {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
}

.main-footer {
    background-color: #1a4325; /* Color verde oscuro */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}